<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zust.survey.dao.DisplayFormMapper" >
  <resultMap id="BaseResultMap" type="edu.zust.survey.entity.DisplayForm" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="questionnaire_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="grade" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="part1_is_display" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="part2_is_display" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="part3_is_display" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, questionnaire_id, grade, part1_is_display, part2_is_display, part3_is_display
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from display_form
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from display_form
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zust.survey.entity.DisplayForm" >
    insert into display_form (id, questionnaire_id, grade, 
      part1_is_display, part2_is_display, part3_is_display
      )
    values (#{id,jdbcType=INTEGER}, #{questionnaireId,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{part1IsDisplay,jdbcType=BIT}, #{part2IsDisplay,jdbcType=BIT}, #{part3IsDisplay,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.zust.survey.entity.DisplayForm" >
    insert into display_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="questionnaireId != null" >
        questionnaire_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="part1IsDisplay != null" >
        part1_is_display,
      </if>
      <if test="part2IsDisplay != null" >
        part2_is_display,
      </if>
      <if test="part3IsDisplay != null" >
        part3_is_display,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="questionnaireId != null" >
        #{questionnaireId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="part1IsDisplay != null" >
        #{part1IsDisplay,jdbcType=BIT},
      </if>
      <if test="part2IsDisplay != null" >
        #{part2IsDisplay,jdbcType=BIT},
      </if>
      <if test="part3IsDisplay != null" >
        #{part3IsDisplay,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zust.survey.entity.DisplayForm" >
    update display_form
    <set >
      <if test="questionnaireId != null" >
        questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="part1IsDisplay != null" >
        part1_is_display = #{part1IsDisplay,jdbcType=BIT},
      </if>
      <if test="part2IsDisplay != null" >
        part2_is_display = #{part2IsDisplay,jdbcType=BIT},
      </if>
      <if test="part3IsDisplay != null" >
        part3_is_display = #{part3IsDisplay,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zust.survey.entity.DisplayForm" >
    update display_form
    set questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      part1_is_display = #{part1IsDisplay,jdbcType=BIT},
      part2_is_display = #{part2IsDisplay,jdbcType=BIT},
      part3_is_display = #{part3IsDisplay,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByQuestionnaireIdAndGrade" resultType="edu.zust.survey.entity.DisplayForm">
    SELECT
    <include refid="Base_Column_List"/>
    FROM display_form
    where questionnaire_id=#{questionnaireId} and grade=#{grade}
  </select>
</mapper>