<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zust.survey.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="edu.zust.survey.entity.Student" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="grade" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="klasse" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="answered" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, name, major_id, grade, klasse, answered
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zust.survey.entity.Student" >
    insert into student (id, username, password, 
      name, major_id, grade, 
      klasse, answered)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{majorId,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{klasse,jdbcType=VARCHAR}, #{answered,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.zust.survey.entity.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="klasse != null" >
        klasse,
      </if>
      <if test="answered != null" >
        answered,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="klasse != null" >
        #{klasse,jdbcType=VARCHAR},
      </if>
      <if test="answered != null" >
        #{answered,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zust.survey.entity.Student" >
    update student
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="klasse != null" >
        klasse = #{klasse,jdbcType=VARCHAR},
      </if>
      <if test="answered != null" >
        answered = #{answered,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zust.survey.entity.Student" >
    update student
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      klasse = #{klasse,jdbcType=VARCHAR},
      answered = #{answered,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUsernameAndPassword" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM student where username=#{username} and password=#{password}
  </select>

  <select id="selectCountSumByMajorIdAndGrade" resultType="int">
    select count(1)
     from student
     where major_id=#{majorId} and grade=#{grade}
  </select>

  <select id="selectAnsweredCountSumByMajorIdAndGrade" resultType="int">
    select count(1)
    from student
    where major_id=#{majorId} and answered=1 and grade=#{grade}
  </select>
</mapper>