.top-nav{
    width: 100%;
    height: 60px;
    background-color: #000;
    color: whitesmoke;
}
.top-nav-left{
    padding-left: 1em;
    height: 100%;
    font-size: 24px;
    line-height: 60px;
    float: left;
}
.top-nav-right{
    font-size: 18px;
    line-height: 60px;
    height: 100%;
    float: right;
}
.left-nav{
    position: absolute;
    top:60px;
    left: 0;
    bottom: 0;
    background-color: #393D49;
}
.main{
    position: absolute;
    top: 60px;
    left: 200px;
    bottom: 0;
    right: 0;
}
.main > iframe{
    height: calc(100% - 3px);
    width: 100%;
}
